body{
  line-height: 1.5;
  background-color: #607196;
}

input[type=submit] {
  background: #FF7B9C;
  color: #ffffff;
  border: 1px solid #eee;
  border-radius: 20px;
  text-shadow: none;
}

input[type=text], input[type=password] {
  width: 95%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

button {
  background-color: #FF7B9C;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 75%;
}

button:hover {
  opacity: 0.8;
  background-color: #EB680E;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.formContainer {
  padding: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.formContainer button{
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  display: block;
}


.navBar{
  background-color: #BABFD1;
  display: block;
  font-size: 50px;
  
}

.navBarCointainer{
  align-items: baseline;
  font-size: 18px;
  display: inline;
  position: absolute;
  right: 20px;
  padding: 10px;
}


.navBar img{
  height: 100px;
  width: 100px;
  display: inline-block;
  border-radius: 50%;
  margin: 10px 10px 0px 10px;
}


.navBar a{
margin: 0px 3px 0px 3px;
text-decoration: none;
color: #000000;
}


.homePage {
  background-color: #607196;
  padding: 10px;
}

.homePage > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 0;
  font-size: 30px;
}

.newPostForm {
  float: right;
  background-color: white;
  margin: 0px 5px 0 5px;
  width: 300px;
  height: 427px;
  text-align: center;
}


.content {

margin-right: 320px;
box-shadow: 3px 3px #9b9b9b;
}

.postHomePage {
  display: flex;

}

.postId{
  margin: 0px 7px 0px 7px;
  width: 35px;
  font-size: 20px;
  text-align: center;
  padding: 17px 0;
  
}


.individualPost{
  margin: 3px 15px 3px 4px;
  padding: 0px;

  flex-grow: 4;
  
}

.individualPost a{
text-decoration: none;
  
}
.individualPostContent{
  margin: 2px 0px 0px 10px;

}

.individualPostContent a{
  font-size: 25px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.postInfo {
  font: normal small verdana,arial,helvetica,sans-serif;
}

.postSubmitData{
  margin: 0px 20px 20px 60px;
  background-color: #F0F3FC;
  font-size: 25px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.postSubmitData p{
  margin: auto;
  background-color: #F0F3FC;
}


.postBody{
  border: 1px solid #BABFD1;
  border-radius: 3px;
  margin: 10px 70px 0px 3px;
  font-size: 20px;
}

.logoutButton {
  width: 100px;
  padding: 2px 0px 2px 0px;
  background-color: #f44336;
  color: #f1f1f1;
  
}

header {
  text-align: center;
}
header > div {

  padding: 20px;
}

.comment {
  margin: 0px 20px 5px 13px;
  padding: 0px;
  border: 1px solid blue;
  flex-grow: 4;
}

.commentContent {
  margin: 2px 0px 0px 10px;
  display: block;
}

.commentContent header{
  text-align: left;
  font: normal small verdana,arial,helvetica,sans-serif;
}

.commentContent button{
  height: 5px;
  width: 20px;
  background: rgb(255, 194, 194);
  margin: 0px 7px 0px 7px;
  text-align: center;
  padding: 17px 0;
}

.commentContent button:hover{
  background: rgb(255, 23, 23);
}

.commentBase{
 display: flex; 
}

.prefContainer {
  width: 40%;
  margin: 50px 378px 0px 378px;
  border: 1px solid rgb(111, 0, 255);
  text-align: center;
}

.userUpdateForm {
  width: 80%;
  margin: auto;
  text-align: left;
  
}

.userInputForm{
  box-shadow: 3px 3px #CECFC7;
  background-color: #ADA8B6;
  margin: 5% 40% 0% 40%;
}

.userInputForm > img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}



