form {
  border: 3px solid #f1f1f1;
  
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.formContainer {
  padding: 16px;
  margin-left: 20%;
  margin-right: 20%;
}

.navBar{
  text-align: right;
  margin-top: 3%;
}



.homePage {
  background-color: #2196F3;
  padding: 10px;
}

.homePage > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 0;
  font-size: 30px;
}

.newPostForm {
  float: right;
  background-color: white;
  margin: 0px 5px 0 5px;
  width: 300px;
  height: 427px;
}

.content {

margin-right: 320px;

}

.postHomePage {
  display: flex;
  
}

.postId{
  margin: 0px 7px 0px 7px;
}


.individualPost{
  border: 1px solid rgb(0, 0, 0);
  margin: 3px 15px 3px 4px;
  padding: 0px;
  cursor: pointer;
  flex-grow: 4;
}
.individualPostContent{
  margin: 2px 0px 0px 10px;

}

.individualPostContent a{
  font-size: 25px;

}

.postInfo {
  font: normal small verdana,arial,helvetica,sans-serif;
}

.logoutButton {
  width: 100px;
  padding: 2px 0px 2px 0px;
  background-color: #f44336;
  color: #f1f1f1;
  
}

header {
  text-align: center;
}
header > div {

  padding: 20px;
}

